html, div {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	vertical-align:baseline;
	
}
body {
	background-color:#FFFEF5;
	line-height:1;
}
a, a:visited {
	text-decoration:none;
	color:#FFFEF5;
}

.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.error {
	position:fixed;
	top:60px;
	right:8%;
	display:inline-block;
	height:fit-content;
	padding:5px;
	background-color:#FEDD6C;
	color:#FFF;
	font-family:"TrebuchetMS", Helvetica, sans-serif;
	font-size:14px;
}
#top {
	width:100%;
	height:60px;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#544741;
	z-index: 1;
}

/* Login Form */
#showLogin {
	display:auto;
}
#showUser {
	display:auto;
	margin:15px 35px 0 0;
	display:block;
	color:#fffef5;
	font-size:14px;
	text-align:right;
}
#showUser span, #showUser form {
	display:inline-block;
	margin-left:10px;
}
#showLogin form {
	margin:15px 35px 0 0;
	display:block;
	color: #FFFEF5;
	font-size: 9px;
	text-align:right;
	
}
#loginForm input[type="password"], #loginForm input[type="email"] {
	width:150px;
	height:20px;
	margin-right:5px;
	margin-bottom:6px;
	padding-left:10px;
	background:#FFF;
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	border-radius:3px;
	border:none;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#BBBBBB;

}
#loginForm input[type="submit"], #logoutUser input[type="submit"], #admnp, #hbut, #emsend, #preferences, #loadPreferences {
	vertical-align:top;
	width:50px;
	height:20px;
	margin-bottom:6px;
	background:#CDDBC0;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFF;
	border:none;
	border-radius:6px;
	font-family:"TrebuchetMS", Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	color:#554741;
	letter-spacing:0px;
	text-shadow: 0px 1px 0px rgba(255,254,255,0.50);
}

#admnp, #emsend {
	width: 80px;
	margin-left: 4px;
}

#main {
	width:100%;
	position:absolute;
	top:60px;
	bottom:20px;
	width:93%;
	left:50%;
	margin-left:-46.7%;
	padding-top:65px;

}
#musicContainer {
	margin-top:15px;
	margin-bottom:-35px;
	width:80%;
	height:fit-content;
	background-color:#FEE388;
	border:33px solid #544741;
	border-radius:15px;

}
#statement {
	margin:75px 0;
	display:block;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color: #544741;
	text-shadow: -1px 1px 1px #FFFEF5;
}
#statement span {
	display:block;
	text-align:center;
}
#state1 {
	margin:0 0 10px 0;
	font-size: 50px;	
}
#state2 {
	margin:0;
	font-size: 33px;
}
#state3 {
	margin:30px 0 0 0;
	font-size:36px;
}
#problem {
	margin-left:18%;
	margin-right:18%;
	padding-top:120px;
	padding-bottom:120px;
	color: #FFFEF5;
	font-size:20px;
	line-height:28px;
	
}
.prob1 {
	color:#CDDBC0;
	font-size:30px;
	text-shadow: -2px 1px 0px #FFFEF5;
	letter-spacing:2px;
}
#yearForm select {
	display:block;
	margin: 20px auto 25px auto;
	padding-left:15px;
	border:7px solid #FFFEF5;
	border-radius:0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-indent:0.01px;
	text-overflow:"";
	width:170px;
	height:75px;
	background:#CDDBC0 url("../img/arrows.png") no-repeat 90% center;
	font-family:"TrebuchetMS", Helvetica, sans-serif;
	font-size:50px;
	color:#544741;
}
/* Register Form */
#register {
	margin:50px 0;
}
#register input {
	display:block;
	margin-bottom:5px;
	padding:0 10px;
	width:20%;
	height:45px;
	/*border:1px solid #544741;*/
	font-size:16px;
	color:#544741;
}
#register input[type="submit"] {
	height:40px;
	width:21%;
	margin-top:10px;
	background:#CDDBC0;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFF;
	border:none;
	border-radius:2px;
	letter-spacing:0px;
	text-shadow: 0px 1px 0px rgba(255,254,255,0.50);
}

#controls {
	margin-bottom:0px;
	width:100%;
	height:fit-content;
	background-color:#544741;
	
}
.favbuttons {
	width:fit-content;
	margin-bottom:0;
	padding:50px 0;
}
.favbuttons form {
	display:inline-block;
}
#preferences, #loadPreferences  {
	display:inline-block;
	width:fit-content;
	height:40px;
	font-size:16px;
}
#controlsBottom {
	width:85%;
	height:75px;
	background-color:#CDDBC0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:200px;
}
#solution {
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:50px;
	padding-top:50px;
}
#solution span {
	display:block;
	text-align:center;
	color:#544741;
}
.sol1 {
	margin-bottom:20px;
	font-size:40px;
	text-shadow: -1px 2px 0px #FFFEF5;
	letter-spacing:2px;
}
#bottom {
	width:100%;
	height:20px;
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:#544741;

}
iframe {
	padding-top: 25px;
	padding-bottom:50px;
	display: inline-block;
	margin-left:5%;
}
div.tableholder {
	height: 480px;
	width:420px;
	overflow-y: scroll;
	display:inline-block;
	margin-left:20px;
	margin-bottom:50px;
	font-size:12px;
	
}

table {
	margin: auto;
	color: #544741;
}

table td {
	max-width: 300px;
	padding: 4px;
}

table tr:hover {
	background-color: #ffffff;
}

td.ranking {
	text-align: center;
}

div ::-webkit-scrollbar {
	width: 12px;
}

div ::-webkit-scrollbar-track {
	background-color: #FEDD6C;
	border-radius: 10px;
}

div ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #544741;
}

#tablecontent {
	margin-top:20px;
	padding-top: 20px;
	clear: both;
	background-color: #544741;
	padding-bottom: 20px;
}

#admntable {
	background-color: #FEDD6C;
}

#admntable td {
	max-width: 200px;
}

#gohomeb {
	margin-left: 20px;
}

#donemessage {
	color: #FEDD6C;
	margin-bottom: 20px;
	margin-left: 20px;
}
